.paged {
  text-align: center;
}

.paged li {
  margin: 10px 0px;
  display: inline-block;
}

.paged ul li button {
  width: 40px;
  height: 30px;
  margin: 0 2px;
  color: #63717f;
  background: #2b303b;
}

.paged ul li button:hover {
  background: rgb(26, 23, 23);
  color: rgb(221, 216, 216);
  transform: scale(1.3);
  cursor: pointer;
}

.paged ul li button .active {
  background: rgb(26, 23, 23);
  font-weight: bold;
}
